<div id='signup-form'>
  <h3>Update User Info</h3>

  <%=
    form_for(
      resource,
      as: resource_name,
      url: update_user_registration_path(resource.id),
      method: :put
    ) do |f| %>

    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label 'Type' %>
      <%= f.select :account_type do %>

        <option
          <% if resource.account_type == 'admin' %>
            selected
          <% end %>
          value='admin'>
          Admin
        </option>

        <option
          <% if resource.account_type == 'updater' %>
            selected
          <% end %>
          value='updater'>
          Updater
        </option>

        <option
          <% if resource.account_type == 'dispatcher' %>
            selected
          <% end %>
          value='dispatcher'>
          Dispatcher
        </option>

      <% end %>
    </div>

    <span class="actions">
      <%= f.submit "Update", {:class => 'btn btn-primary'} %>
    </span>

    <%=  link_to "Cancel",
      users_path,
      {
        :id => 'clear-signup-button',
        :class => 'btn btn-danger'
      }
    %>

  <% end %>
</div>

