<script >$(function() {
  $("#myTable").tablesorter();
});
</script>

 <table id="myTable" class="table table-striped table-hover feed table-sorter">
<h4 style='text-align: center;'> There are <%= @drivers.count %> Drivers in <%= @state %></h4>
 <div class="col-md-12 text-center">  <%= link_to 'Home',
          drivers_path,
          class: 'btn btn-primary link-btn' %> </div>

    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Truck Type</th>
        <th>Availability</th>
        <th>Current Location</th>
        <th>Desired Location</th>
        <% if current_user.account_type != 'dispatcher' %>
          <th>Active</th>
        <% end %>
        <th>Driver status</th>
        <th>Company</th>
        <th>Covered by:</th>
        <th>Current Zone:</th>


          <th>Destination Zone</th>

        <th>Preferred Lanes</th>
      </tr>
    </thead>

    <tbody id="<%=data_id%>">

      <% @drivers.sort_by{ |d| d.driver_availability}.reverse.each do |driver| %>


      <% covered_highlight2 = driver.Covered ? 'red' : ''%>

        <tr driver="<%= driver.id %>">
          <% if data_id == 'report-feed' %>
            <td class="<%=covered_highlight2%>">
              <%= link_to driver.full_name, driver_path(id: driver.id) %>
              <div><%=" ID: #{driver.driver_id_tag}"%></div>
            </td>
          <% else %>
            <td class="<%=covered_highlight2%>">
              <%= link_to driver.full_name, driver %>
              <div><%=" ID: #{driver.driver_id_tag}"%></div>
            </td>
          <% end %>
          <td class="<%=covered_highlight2%>">
            <%= number_to_phone driver.driver_phone,
            pattern: /(\d{3})(\d{3})(\d{4})$/,
            area_code: true %>
            <span> <%= " - #{driver.contact_name}" %>
          </td>


          <% if driver.driver_truck_type == '53RM' || driver.driver_truck_type == '48R' || driver.driver_truck_type == '53R'%>
          <td class="yellow"> <%= driver.driver_truck_type  %> </td>
          <% else %>
          <td class = "<%=covered_highlight2%>"> <%= driver.driver_truck_type  %> </td>
          <% end %>

          <td class="<%=covered_highlight2%>">
            <%=
              driver.driver_availability ?
                driver.driver_availability.strftime("%m/%d/%Y") :
                nil
            %>
          </td>
          <td class="<%=covered_highlight2%>">
            <%= driver.current_location %>
          </td>
          <td class="<%=covered_highlight2%>">
            <%= driver.desired_location %>
          </td>
          <% if current_user.account_type != 'dispatcher' %>
            <% if driver.active == true%>
              <td class="green">ANSWERING</td>
            <% else %>
              <td class="red">NOT ANSWERING</td>
            <% end %>
          <% end %>
          <td class="<%=covered_highlight2%>"><%= driver.driver_status %></td>
          <td class="<%=covered_highlight2%>"><%= driver.driver_company %></td>
          <td class="<%=covered_highlight2%>">
            <strong><%= driver.user ? driver.user.full_name : '' %></strong>
          </td>

            <% etrac_class = driver.Etrac ? 'green' : 'red' %>
            <% plate_trailer_class = driver.PlateTrailer ? 'green' : 'red' %>

            <td class="<%=covered_highlight2%>">
              <%= driver.destination_zone %>
            </td>

            <td class="<%=covered_highlight2%>">
              <%= driver.current_zone %>
            </td>

          <td class="<%=covered_highlight2%>">
            <%= driver.PreferredLanes && driver.PreferredLanes.length != 0 ?
              driver.PreferredLanes.split(", ").join(" ").gsub(/[\"\[\]]/, '')
              : nil %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
