
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Truck Type</th>
        <th>Availability</th>
        <th>Current Location</th>
        <th>Desired Location</th>
        <% if current_user.account_type != 'dispatcher' %>
          <th>Active</th>
        <% end %>
        <th>Driver status</th>
        <th>Company</th>
        <% if data_id == 'report-feed' %>
          <% if current_user.account_type != 'dispatcher' %>
            <th>Covered by:</th>
          <% end %>
          <th>Etrac</th>
          <th>Plate Trailer</th>
          <th>Preferred Lanes</th>
          <th>Destination Zone</th>
        <% end %>
      </tr>
    </thead>

    <tbody id="<%=data_id%>">
      <% @drivers.each do |driver| %>
        <tr driver="<%= driver.id %>">
          <% if data_id == 'report-feed' %>
            <% if params[:q] %>
              <%
                search_hash = {}
                params[:q].each do |param|
                  search_hash[param] = params[:q][param]
                end
                params.each do |param|
                  if param == 'miles' || param == :miles
                    search_hash[:miles] = params[param]
                  end
                end
              %>
            <% end %>
            <td>
              <%= link_to driver.full_name,
                driver_path(
                  id: driver.id,
                  report: @drivers.map(&:id),
                  search: search_hash
                ) %>
            </td>
          <% else %>
            <td><%= link_to driver.full_name, driver %></td>
          <% end %>
          <td><%= number_to_phone driver.driver_phone,
            pattern: /(\d{3})(\d{3})(\d{4})$/,
            area_code: true %>
            <span> <%= " - #{driver.contact_name}" %>
          </td>
          <% truck_type_class = ['48R', '53R', '53RM'].include?(
            driver.driver_truck_type
          ) ? "truck-type yellow" : "truck-type" %>
          <td class="<%=truck_type_class%>"><%= driver.driver_truck_type %></td>
          <td>
            <%=
              driver.driver_availability ?
                driver.driver_availability.strftime("%m/%d/%Y") :
                nil
            %>
          </td>
          <td><%= driver.current_location %></td>
          <td><%= driver.desired_location %></td>
          <% if current_user.account_type != 'dispatcher' %>
            <% if driver.active == true%>
              <td class="success">Answering</td>
            <% else %>
              <td class="danger">Not Answering</td>
            <% end %>
          <% end %>
          <td><%= driver.driver_status %></td>
          <td><%= driver.driver_company %></td>
          <% if data_id == 'report-feed' %>
            <% if current_user.account_type != 'dispatcher' %>
              <td><%= driver.user ? driver.user.full_name : '' %></td>
            <% end %>
            <% etrac_class = driver.Etrac ? 'success' : 'danger' %>
            <% plate_trailer_class = driver.PlateTrailer ? 'success' : 'danger' %>
            <td class="<%= etrac_class%>"><%= humanize_boolean(driver.Etrac) %></td>
            <td class="<%= plate_trailer_class%>"><%= humanize_boolean(driver.PlateTrailer) %></td>
            <td><%= driver.PreferredLanes %></td>
            <td><%= driver.destination_zone %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
