


<%= simple_form_for(@driver, html: { class: 'form-horizontal' }) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: "control-label" %>
    <%= f.text_field :first_name, class: "form-control" %>

    <%= f.label :last_name, class: "form-label" %>
    <%= f.text_field :last_name, class: "form-control" %>

    </div>
    <div class ="form-group">
    <%= f.label :driver_phone %>
    <%= f.text_field :driver_phone%>

    <%= f.label :driver_id_tag %>
    <%= f.text_field :driver_id_tag %>

    <%= f.label :driver_company %>
    <%= f.text_field :driver_company %>
  </div>




  <h1> Current Driver Location </h1>
   <div class="field">
    <%= f.label :current_city, class: "form-label"%><br>
    <%= f.text_field :address, class: "form-control", placeholder: 'Enter a City' %>
  </div>

   <div class="field">
    <%= f.label :state%><br>
    <%= f.text_field :state, placeholder: 'State | CA, TX, NY' %>
  </div>




   <div class="field">
    <%= f.label :driver_availability %><br>
    <%= f.date_select :driver_availability %>
  </div>


  <h1> Desired Destination </h1>
  <div class="field">
    <%= f.label :desired_city %><br>
    <%= f.text_field :desired_city %>
  </div>


  <div class="field">
    <%= f.label :desired_state %><br>
    <%= f.select :desired_state, options_for_select(us_states)  %>
  </div>
  <div class="field">
    <%= f.label :desired_zip %><br>
    <%= f.text_field :desired_zip %>
  </div>




<!--   <div class="field">

  </div> -->

  <div class="control-group">
      <%= f.label "Truck Type", class: 'control-label' %>
      <div class="controls">
        <%= f.select(:driver_truck_type, options_for_select([['r53', 'r53'], ['flat', 'flat']]), { include_blank: true }) %>
      </div>
    </div>
<!--  -->

  <div class="field">
    <%= f.label :driver_status %><br>
    <%= f.text_field :driver_status %>
  </div>
  <div class="field">
    <%= f.label :driver_Contract_Number, 'Driver Contract Number' %><br>
    <%= f.text_field :driver_contract_number %>
  </div>


  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :Covered %><br>
    <%= f.check_box :Covered %>
  </div>


  <div class="field">
    <%= f.label :PlateTrailer %><br>
    <%= f.check_box :PlateTrailer %>

  </div>

  <div class="field">
    <%= f.label :E_Trac %><br>
    <%= f.check_box :Etrac %>
  </div>



  <div class="field">
    <%= f.label :reeferUnit %><br>
    <%= f.check_box :reeferunit %>
  </div>
 <div class="field">
    <%= f.label :insurance %><br>
    <%= f.text_field :insurance %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>
