<script type="text/javascript">
  $( document ).ready(function() {
    $("#driver_driver_phone").inputmask({"mask": "(999) 999-9999"});
  });
</script>

<%= simple_form_for(@driver, html: { id: 'new-driver-form' }) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form-col-1">

    <div class="form-group">
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, class: "form-control name" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, class: "form-control name" %>
    </div>

    <div class ="form-group">
      <%= f.label :driver_phone, class: 'form-label' %>
      <%= f.telephone_field :driver_phone, class: 'form-control name' %>
    </div>

    <div class ="form-group">
      <%= f.label :contact_name, class: 'form-label' %>
      <%= f.text_field :contact_name, class: 'form-control name' %>
    </div>

    <div class="form-group">
      <%= f.label :driver_id_tag, class: 'form-label' %>
      <%= f.text_field :driver_id_tag, class: 'form-control name' %>
    </div>

    <div class="form-group">
      <%= f.label :driver_company, class: 'form-label' %>
      <%= f.text_field :driver_company, class: 'form-control name' %>
    </div>

    <div class="form-group">
      <%= f.label :driver_status, class: 'form-label' %>
      <%= f.text_field :driver_status, class: 'form-control name' %>
    </div>

    <div class="form-group">
      <%= f.label :comments, class: 'form-label' %>
      <%= f.text_field :comments, class: 'form-control name' %>
    </div>

    <div class="form-group">
      <%= f.label :insurance, "Insurance Exclusions", class: 'form-label' %>
      <%= f.text_field :insurance, class: 'form-control name' %>
    </div>
  </div>

  <div id="form-col-2">
    <div class="form-group">
      <%= f.label :driver_availability, class: 'form-label' %>
      <%= f.date_select :driver_availability,
        order: [:month, :day, :year],
        :date_separator => ' / ' %>
    </div>

    <div class="form-group">
      <%= f.label "Truck Type", class: 'form-label' %>
        <%= f.select(
          :driver_truck_type,
          options_for_select(
            [
              ['53R', '53R'],
              ['53RM', '53RM'],
              ['53V', '53V'],
              ['53VM', '53VM'],
              ['flat', 'flat'],
              ['48R', '48R'],
              ['48V', '48V']
            ],
            @driver.driver_truck_type
          ),
          include_blank: true
        ) %>
    </div>

    <div class="form-group">
      <%= f.label :active, class: 'form-label' %>
      <%= f.select(
        :active,
        options_for_select(
          [
            ['Answering', true],
            ['Not Answering', false]
          ],
          @driver.active
        )
      ) %>
    </div>

    <% if editing %>
      <div class="form-group">
        <%= f.label :Covered, class: 'form-label' %>
        <%= f.check_box :Covered %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :PlateTrailer, class: 'form-label' %>
      <%= f.check_box :PlateTrailer %>
    </div>

    <div class="form-group">
      <%= f.label :ETrac, class: 'form-label' %>
      <%= f.check_box :Etrac %>
    </div>

    <div class="form-group" id="current-state">

      <%= f.label :current_state %>
      <%=
        f.select :current_state,
        options_for_select(us_states, "#{@driver.current_state}"),
        :include_blank => true
      %>
      <%= f.label :current_city, class: "form-label city-label" %>
      <%= f.text_field :current_city, class: 'form-control name' %>
    </div>

    <div class="form-group" id="desired-state">
      <%= f.label :desired_state %>
      <%=
        f.select :desired_state,
        options_for_select(us_states, "#{@driver.desired_state}"),
        :include_blank => true
      %>
      <%= f.label :desired_city, class: "form-label city-label"%>
      <%= f.text_field :desired_city, class: 'form-control name' %>
    </div>

    <div class="form-group">
      <%= f.label "Preferred Lanes - select multiple by holding shift or control (command for mac)", class: 'form-label' %>
        <%= f.select(
          :PreferredLanes,
          options_for_select(us_states, @driver.PreferredLanes),
          {include_hidden: false},
          {
            class: 'form-control multi-select',
            multiple: true
          }
        ) %>
    </div>
  </div>

  <div class="actions">
    <% if params[:report] %>
      <%= hidden_field_tag(:report, params[:report].to_json) %>
      <%= hidden_field_tag(:search, params[:search].to_json) %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% else %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>

<% end %>
