
<% if user_signed_in? %>
  <% account_type = current_user.account_type %>

  <div id='map-container' style='width: 100%;'>
    <div id="map" style='width: 100%; height: 800px;'></div>
    <div id='legend'>
      <h4> Map Legend </h4>
      <div class='legend-image'>
        <img src='http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=A|008000|000000' />  Driver available
      </div>
      <div class='legend-image'>
        <img src='http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=N|ff0000|000000' /> Driver not available
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $( document ).ready(function() {
      handler = Gmaps.build(
        'Google',
        {
          markers: {
            maxRandomDistance: 100,
            clusterer: { maxZoom: 12, gridSize: 40 }
          }
        }
      );
      Gmaps.store = {};
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        var rawData = <%= raw @hash.to_json %>
        try {
          Gmaps.store.markers = rawData.map(function(m){
            var marker = handler.addMarker(m);
            marker.serviceObject.set('id', m.id);
            return marker;
          });
          handler.bounds.extendWith(Gmaps.store.markers);
          handler.fitMapToBounds();
        } catch (e) {
          // Gmaps sometimes kicks an error for no apparent reason
          // Cannot read property 'addMarker' of undefined
          // Since markers always seem to work fine despite this error,
          // we're ignoring this for now so it's doesn't print to the console
        }
      });

      var infoWindow = new handler.builders.Map.PRIMITIVES.infowindow();
      var map = handler.getMap();

      var stateReportButton = "<a id='state-report-link'> Generate State Report </a>";
      var isOpen = false;

      function sendData(latLng, evt) {
        evt.preventDefault();
        $.ajax({
          method: 'POST',
          url: "<%= state_drivers_path %>",
          data: latLng
        });
      }

      map.addListener('click', function(evt) {
        if (isOpen) {
          $('#state-report-link').off('click', sendData);
          infoWindow.close();
          isOpen = false;
        }
      });
      map.addListener('rightclick', function(evt) {
        if (isOpen) {
          $('#state-report-link').off('click', sendData);
          infoWindow.close();
          isOpen = false;
        }
        var position = evt.latLng;
        var clickedPoint = {};
        clickedPoint.state_lat = position.lat();
        clickedPoint.state_lng = position.lng();
        infoWindow.setContent(stateReportButton);
        infoWindow.setPosition(position);
        infoWindow.open(map, this);
        isOpen = true
        $('#state-report-link').on('click', sendData.bind(this, clickedPoint));
      });
    });

  </script>

  <div id='drivers-heading'>
    <h1>Driver Feed</h1>
    <% if current_user.account_type != 'dispatcher' %>
      <%= link_to 'Create New Driver', new_driver_path, class: 'btn btn-primary link-btn' %>
    <% end %>
  </div>

  <%= render :partial => 'feed', :locals => {:data_id => 'driver-feed'} %>

<% else %>

  <div class="container main-pg">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <section class="login-form">
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.text_field :email, placeholder: "E-Mail Address" %>
            <%= f.password_field :password, placeholder: "Password"  %> </br>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <%= f.submit 'Sign in' , :class => "btn btn-md btn-primary btn-block"  %>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
          <% end %>
        </section>
      </div>
    </div>
  </div>
<% end %>


