<script type="text/javascript">
  $( document ).ready(function() {
    $("#q_driver_phone_eq").inputmask({"mask": "(999) 999-9999"});
    var q = <%= raw params[:q].to_json %>;
    var opts = {
      autoUpdateInput: false,
      locale: {
        cancelLabel: 'Clear'
      }
    };
    if (q && q.driver_availability_in.length) {
      var range = q.driver_availability_in.split(' - ');
      opts.startDate = range[0];
      opts.endDate = range[1];
      $('#datefilter').val(opts.startDate + ' - ' + opts.endDate);
    }
    $('#datefilter').daterangepicker(opts);

    $('#datefilter').on('apply.daterangepicker', function(ev, picker) {
      var startDate = picker.startDate.format('MM/DD/YYYY');
      var endDate = picker.endDate.format('MM/DD/YYYY');
      var value = (startDate + ' - ' + endDate);
      $(this).val(value);
    });

    $('#datefilter').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
    });
  });
</script>

<div id='advanced-reporting'>

  <h1> Reports </h1>

  <%= search_form_for @q, url: drivers_reports_path do |f| %>
    <div class="search-report-container form-group">

      <div class='search-report-section col1'>
        <%= f.label :full_name_cont, "Driver Name", class: 'report-label' %>
        <%= f.text_field :full_name_cont%>
        <br />

        <%= f.label :driver_id_tag, "Driver ID",class: 'report-label' %>
        <%= f.text_field :driver_id_tag_eq%>
        <br>

        <%= f.label :current_state, class: 'report-label' %>
        <% state = params[:q] && params[:q][:current_state_eq] ?
          params[:q][:current_state_eq] : ''
        %>
        <%= f.select :current_state_eq,
          options_for_select(us_states, state),
          :include_blank => true %>
        <br />

        <%= f.label :current_city, class: 'report-label' %>
        <% city = params[:q] && params[:q][:current_city_cont] ?
          params[:q][:current_city_cont] : ''
        %>
        <%= f.text_field :current_city_cont, value: city %>
        <br />

        <%= f.label 'Radius (mi)', class: 'report-label' %>
        <%= number_field_tag :miles, params[:miles], min: 1 %>
        <br>

        <%= f.label :driver_company, "Company Name", class: 'report-label' %>
        <%= f.text_field :driver_company_cont%>



      </div>

      <div class='search-report-section col2'>
        <%= f.label :driver_phone, "Driver Phone",class: 'report-label' %>
        <%= f.telephone_field :driver_phone_cont%>
        <br />

        <%= f.label :driver_truck_type, "Trailer Type", class: 'report-label' %>
        <%= f.select(
          :driver_truck_type_eq,
          options_for_select(
            [
              ['53R', '53R'],
              ['53RM', '53RM'],
              ['53V', '53V'],
              ['53VM', '53VM'],
              ['flat', 'flat'],
              ['48R', '48R'],
              ['48V', '48V']
            ],
            params[:q] ? params[:q][:driver_truck_type_eq] : ''
          ),
          include_blank: true
        ) %>
        <br />

        <% if current_user.account_type != 'dispatcher' %>
          <%= f.label :active, class: 'report-label' %>
          <%= f.select(
            :active_eq,
            options_for_select(
              [
                ['Answering', true], ['Not Answering', false]
              ],
              params[:q] ? params[:q][:active_eq] : ''
            ),
            include_blank: true
          ) %>
          <br>
        <% end %>

        <%= f.label :PlateTrailer, "Plate Trailer", class: 'report-label' %>
        <%= f.check_box :PlateTrailer_eq %>
        <span id='plate-trailer-warning'>
          ALWAYS CONFIRM W/ DRIVER
        </span>
        <br>

        <%= f.label :ETrac, "E-Trac",class: 'report-label' %>
        <%= f.check_box :Etrac_eq %>
        <br>

        <%= f.label :backhaul, class: 'report-label' %>
        <%= f.check_box :backhaul_eq %>
        <br>

        <%= f.label :driver_availability, class: 'report-label' %>
        <%= f.text_field :driver_availability_in, id: 'datefilter' %>
      </div>
      <div class='search-report-section col3'>
        <%= f.label "Preferred Lanes", class: 'report-label' %>
        <%= f.select(
          :PreferredLanes_cont_any,
          options_for_select(
            us_states,
            params[:q] ? params[:q][:PreferredLanes_cont_any] : ''
          ),
          {include_hidden: false},
          {
            class: 'form-control multi-select',
            multiple: true,
          }
        ) %>
      </div>

  <%= f.label :destination_zone, "Destination Zones",class: 'report-label' %>
  <%= f.select(
          :destination_zone_cont_any,
          options_for_select(
            [
              ['Z0 [CT,ME,MA,NH,NJ,RI,VT]', 'Z0'],
              ['Z1 [DE,NY,PA]', 'Z1'],
              ['Z2 [DC,MD,NC,SC,VA,WV]', 'Z2'],
              ['Z3 [AL,FL,GA,MS,TN]', 'Z3'],
              ['Z4 [IN,KY,MI,OH]', 'Z4'],
              ['Z5 [IA,MN,MT,ND,SD,WI]', 'Z5'],
              ['Z6 [IL,KS,MO,NE]', 'Z6'],
              ['Z7 [AR,LA,OK,TX]', 'Z7'],
              ['Z8 [AZ,CO,ID,NV,NM,UT,WY]', 'Z8'],
              ['Z9 [CA,OR,WA]', 'Z9']
            ],
            params[:q] ? params[:q][:destination_zone_cont_any] : ''
          ),
          {include_hidden: false},
          {
          class: 'form-control multi-select',
            multiple: true,
          }
        ) %>



    </div>

    <div class='report-buttons'>
      <%= f.submit "Search", class: "btn btn-primary" %>
      <span><%= link_to 'Clear Form', drivers_reports_path, :class => 'btn btn-success' %></span>
    </div>
  <% end %>

  <%= render :partial => 'feed2', :locals => {:data_id => 'report-feed'} %>

</div>

