<script type="text/javascript">
  $( document ).ready(function() {
    $("#q_driver_phone_eq").inputmask({"mask": "(999) 999-9999"});
  });
</script>

<div id='advanced-reporting'>
  <h1> Advanced search/reports </h1>

  <%= search_form_for @q, url: drivers_reports_path do |f| %>
    <div class="search-report-container form-group">

      <div class='search-report-section col1'>
        <%= f.label :full_name_cont, class: 'report-label' %>
        <%= f.text_field :full_name_cont%>
        <br />

        <%= f.label :driver_id_tag, class: 'report-label' %>
        <%= f.text_field :driver_id_tag_cont%>
        <br>

        <%= f.label :current_state, class: 'report-label' %>
        <% state = params[:q] && params[:q][:current_state_eq] ?
          params[:q][:current_state_eq] : ''
        %>
        <%= f.select :current_state_eq,
          options_for_select(us_states, state),
          :include_blank => true %>
        <br />

        <%= f.label :current_city, class: 'report-label' %>
        <% city = params[:q] && params[:q][:current_city_cont] ?
          params[:q][:current_city_cont] : ''
        %>
        <%= f.text_field :current_city_cont, value: city %>
        <br />

        <%= f.label 'Radius (mi)', class: 'report-label' %>
        <%= number_field_tag :miles, params[:miles], min: 1 %>
        <br>

        <%= f.label :driver_company, class: 'report-label' %>
        <%= f.text_field :driver_company_cont%>
      </div>

      <div class='search-report-section col2'>
        <%= f.label :driver_phone, class: 'report-label' %>
        <%= f.telephone_field :driver_phone_eq%>
        <br />

        <%= f.label :driver_truck_type, class: 'report-label' %>
        <%= f.select(
          :driver_truck_type_eq,
          options_for_select(
            [
              ['53R', '53R'],
              ['53RM', '53RM'],
              ['53V', '53V'],
              ['53VM', '53VM'],
              ['flat', 'flat'],
              ['48R', '48R'],
              ['48V', '48V']
            ],
            params[:q] ? params[:q][:driver_truck_type_eq] : ''
          ),
          include_blank: true
        ) %>
        <br />

        <%= f.label :active, class: 'report-label' %>
        <%= f.select(
          :active_eq,
          options_for_select(
            [
              ['Answering', true], ['Not Answering', false]
            ],
            params[:q] ? params[:q][:active_eq] : ''
          ),
          include_blank: true
        ) %>
        <br>

        <%= f.label :PlateTrailer, class: 'report-label' %>
        <%= f.check_box :PlateTrailer_eq %>
        <br>

        <%= f.label :ETrac, class: 'report-label' %>
        <%= f.check_box :Etrac_eq %>
        <br>

        <%= f.label :backhaul, class: 'report-label' %>
        <%= f.check_box :backhaul_eq %>
        <br>

        <%= f.label :driver_availability, class: 'report-label' %>
        <%= f.date_select :driver_availability_eq,
          order: [:month, :day, :year],
          :date_separator => ' / ',
          include_blank: true %>
      </div>
    </div>

    <div class='report-buttons'>
      <%= f.submit "Search", class: "btn btn-primary" %>
      <span><%= link_to 'Clear Form', drivers_reports_path, :class => 'btn btn-success' %></span>
    </div>
  <% end %>

  <%= render :partial => 'feed', :locals => {:data_id => 'report-feed'} %>

</div>

