<% account_type = current_user.account_type %>

<div id='driver-show'>

  <h3> <%= @driver.full_name %> </h3>

  <p>
    <strong>Driver phone:</strong>
    <%= number_to_phone @driver.driver_phone,
      pattern: /(\d{3})(\d{3})(\d{4})$/,
      area_code: true %>
    <span> <%= " - #{@driver.contact_name}" %>
  </p>

  <p>
    <strong>Driver truck type:</strong>
    <%= @driver.driver_truck_type %>
  </p>

  <p>
    <strong>Current Location:</strong>
    <%= @driver.current_location %>
  </p>

  <p>
    <strong>Driver id tag:</strong>
    <%= @driver.driver_id_tag %>
  </p>

  <p>
    <strong>Desired Location:</strong>
    <%= @driver.desired_location %>
  </p>

  <p>
    <strong>Destination Zone:</strong>
    <%= @driver.destination_zone %>
  </p>

  <% if account_type != 'dispatcher' %>
    <p>
      <strong>Active:</strong>
      <%= @driver.active ? 'Answering' : 'Not Answering' %>
    </p>
  <% end %>

  <p>
    <strong>Driver status:</strong>
    <%= @driver.driver_status %>
  </p>

  <p>
    <strong>Driver availability:</strong>
    <%= @driver.driver_availability %>
  </p>

  <p>
    <strong>Insurance Exclusions:</strong>
    <%= @driver.insurance %>
  </p>


  <% if @driver.Covered && account_type != 'dispatcher' %>
    <p>
      <strong>Covered by:</strong>
      <%= @driver.user.full_name %>
    </p>
  <% end %>

  <p>
    <strong>Driver company:</strong>
    <%= @driver.driver_company %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= @driver.comments %>
  </p>

  <p>
    <strong>PlateTrailer:</strong>
    <%= humanize_boolean(@driver.PlateTrailer?) %>
  </p>

  <p>
    <strong>Preferred Lanes:</strong>
    <%= humanize_boolean(@driver.PreferredLanes?) %>
  </p>

  <p>
    <strong>Etrak:</strong>
    <%= humanize_boolean(@driver.Etrac?) %>
  </p>

  <% if account_type != 'dispatcher' %>

    <td>
      <% report = @report || params[:report] %>
      <% search = @search || params[:search] %>
      <% if report && search %>
        <% search_hash = {} %>
        <% if search %>
          <%
            search.each do |sp|
              search_hash[sp] = search[sp]
            end
          %>
        <% end %>
        <%= link_to 'Back to Report',
            drivers_reports_path(
            q: search_hash,
            miles: search_hash["miles"]
          ),
          class: 'btn btn-primary link-btn' %>
        <%= link_to 'Edit',
          edit_driver_path(
            id: @driver.id,
            report: report.map(&:id),
            search: search_hash
          ),
          class: 'btn btn-primary link-btn' %>
      <% else %>
        <%= link_to 'Edit',
          edit_driver_path(@driver),
          class: 'btn btn-primary link-btn' %>
      <% end %>
    </td>

    <td>
      <%= link_to 'Delete',
        @driver,
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger link-btn' %>
    </td>
    <% if report && search %>
      <%= link_to 'Next Driver in Report',
      driver_path(
        id: report[@next_idx],
        report: report.map(&:id),
        search: search_hash
      ),
      class: 'btn btn-success link-btn' %>
    <% end %>
  <% end %>

</div>
