
<% if user_signed_in? %>
  <% account_type = current_user.account_type %>

 <h1 style='text-align: center;'> State Report for <%= @state %> </h1>
  <div style='margin: 0 auto; width: fit-content;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script type="text/javascript">
    var handler = Gmaps.build(
      'Google',
      {
        markers: {
          maxRandomDistance: 100,
          clusterer: { maxZoom: 12, gridSize: 40 }
        }
      }
    );
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      var rawData = <%= raw @hash.to_json %>
      var lat = rawData[0] ? rawData[0].lat : '';
      var lng = rawData[0] ? rawData[0].lng : '';
      try {
        var markers = handler.addMarkers(rawData);
        if (lat && lng) {
          handler.map.centerOn({lat: lat, lng: lng});
          handler.getMap().setZoom(7);
        }
      } catch (e) {
        // Gmaps sometimes kicks an error for no apparent reason
        // Cannot read property 'addMarker' of undefined
        // Since markers always seem to work fine despite this error,
        // we're ignoring this for now so it's doesn't print to the console
      }
    });
  </script>

  <%= render :partial => 'feed3', :locals => {:data_id => 'state-report'} %>

<% else %>

  <div class="container main-pg">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <section class="login-form">
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.text_field :email, placeholder: "E-Mail Address" %>
            <%= f.password_field :password, placeholder: "Password"  %> </br>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <%= f.submit 'Sign in' , :class => "btn btn-md btn-primary btn-block"  %>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
          <% end %>
        </section>
      </div>
    </div>
  </div>
<% end %>


