<% account_type = current_user.account_type %>

<div id='driver-show'>

  <h3> <%= @driver.full_name %> </h3><br/>

  <table id="show-table" class="table table-bordered">
    <tbody>
      <tr>
        <td><strong>Driver phone:</strong></td>
        <td>
          <%= number_to_phone @driver.driver_phone,
            pattern: /(\d{3})(\d{3})(\d{4})$/,
            area_code: true %>
        </td>
      </tr>

      <tr>
        <td><strong>Trailer Type:</strong></td>
        <td>
          <%= @driver.driver_truck_type %>
        </td>
      </tr>

      <tr>
        <td><strong>Current Location:</strong></td>
        <td>
          <%= @driver.current_location %>
        </td>
      </tr>

      <tr>
        <td><strong>Current Zone:</strong></td>
        <td>
          <%= @driver.current_zone %>
        </td>
      </tr>

      <tr>
        <td><strong>Driver ID:</strong></td>
        <td>
          <%= @driver.driver_id_tag %>
        </td>
      </tr>

      <tr>
        <td><strong>Desired Location:</strong></td>
        <td>
          <%= @driver.desired_location%>
        </td>
      </tr>

      <tr>
        <td><strong>Destination Zone:</strong></td>
        <td>
          <%= @driver.destination_zone%>
        </td>
      </tr>



      <% if account_type != 'dispatcher' %>
        <tr>
          <td><strong>Active:</strong></td>
          <td>
            <%= @driver.active ? 'Answering' : 'Not Answering' %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td><strong>Driver Status:</strong></td>
        <td>
          <%= @driver.driver_status %>
        </td>
      </tr>

      <tr>
        <td><strong>Driver Availability:</strong></td>
        <td>
          <%= @driver.driver_availability %>
        </td>
      </tr>

      <tr>
        <td><strong>Insurance Exclusions:</strong></td>
        <td>
          <%= @driver.insurance %>
        </td>
      </tr>

      <tr>
        <td><strong>Covered by:</strong></td>
        <td id='show-page-covered-by'>
          <%= @driver.user ? @driver.user.full_name : 'Not Covered' %>
        </td>
      </tr>

      <tr>
        <td><strong>Company Name:</strong></td>
        <td>
          <%= @driver.driver_company %>
        </td>
      </tr>

      <tr>
        <td><strong>Comments:</strong></td>
        <td>
          <%= @driver.comments %>
        </td>
      </tr>

      <tr>
        <td><strong>Plate Trailer:</strong></td>
        <td>
          <%= humanize_boolean(@driver.PlateTrailer?) %>
        </td>
      </tr>

      <tr>
        <td><strong>E-Ttac:</strong></td>
        <td>
          <%= humanize_boolean(@driver.Etrac?) %>
        </td>
      </tr>

      <tr>
        <td><strong>Preferred Lanes:</strong></td>
        <td>
          <%= @driver.PreferredLanes && @driver.PreferredLanes.length != 0 ?
              @driver.PreferredLanes.split(", ").join(" ").gsub(/[\"\[\]]/, '')
              : "no lanes" %>
        </td>
      </tr>

    </tbody>
  </table>

    <span>
      <%= link_to 'Edit',
        edit_driver_path(@driver),
        class: 'btn btn-primary link-btn' %>
    </span>

    <span>
      <% if account_type != "dispatcher" %>
        <%= link_to 'Delete',
          @driver,
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger link-btn' %>
      <%end %>
    </span>

    <div>
      <% if @report.length != 0 %>
        <%= link_to 'Back to Report',
          drivers_reports_path(
            q: @search_params[:q],
            miles: @search_params[:miles]
          ),
          class: 'btn btn-primary link-btn' %>
        <%= link_to 'Previous Driver in Report',
          driver_path(id: @report[@previous_idx]),
          class: 'btn btn-success link-btn' %>
        <%= link_to 'Next Driver in Report',
          driver_path(id: @report[@next_idx]),
          class: 'btn btn-success link-btn' %>
      <% end %>
    </div>





</div>
