<% account_type = current_user.account_type %>

<div id='driver-show'>

  <h3> <%= @driver.full_name %> </h3>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @driver.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @driver.last_name %>
  </p>

  <p>
    <strong>Current Location:</strong>
    <%= @driver.current_location %>
  </p>

  <p>
    <strong>Desired Location:</strong>
    <%= @driver.desired_location %>
  </p>

  <p>
    <strong>Destination Zone:</strong>
    <%= @driver.destination_zone %>
  </p>

  <p>
    <strong>Driver id tag:</strong>
    <%= @driver.driver_id_tag %>
  </p>

  <p>
    <strong>Driver phone:</strong>
    <%= @driver.driver_phone %>
  </p>

  <p>
    <strong>Driver truck type:</strong>
    <%= @driver.driver_truck_type %>
  </p>

  <% if account_type != 'dispatcher' %>
    <p>
      <strong>Active:</strong>
      <%= @driver.active %>
    </p>
  <% end %>

  <p>
    <strong>Driver status:</strong>
    <%= @driver.driver_status %>
  </p>

  <p>
    <strong>Languages</strong>
    <%= @driver.lang %>
  </p>

  <p>
    <strong>Driver contract number:</strong>
    <%= @driver.driver_contract_number %>
  </p>

  <p>
    <strong>Driver availability:</strong>
    <%= @driver.driver_availability %>
  </p>

  <% if @driver.Covered && account_type != 'dispatcher' %>
    <p>
      <strong>Covered by:</strong>
      <%= @driver.user.full_name %>
    </p>
  <% end %>

  <p>
    <strong>Driver company:</strong>
    <%= @driver.driver_company %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= @driver.comments %>
  </p>

  <% if account_type != 'dispatcher' %>

    <td>
      <%= link_to 'Edit',
        edit_driver_path(@driver),
        class: 'btn btn-primary link-btn'%>
    </td>

    <td>
      <%= link_to 'Delete',
        @driver,
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger link-btn'%>
    </td>
  <% end %>

</div>
