
<%= form_tag reports_index_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :first_name => nil %><br>

  </p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Address</th>
      <th>Desired City</th>
      <th>Desired State</th>
      <th>Desired Zip</th>
      <th>Driver ID</th>
      <th>Phone</th>
      <th>Truck Type</th>
      <th>Active</th>
      <th>Driver status</th>
      <th>Contract Number</th>
      <th>Availability</th>
      <th>Company</th>
      <th>Comments</th>
      <th colspan="12"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.full_name %></td>


        <td><%= driver.current_city %></td>
        <td><%= driver.desired_city %></td>
        <td><%= driver.desired_state %></td>
        <td><%= driver.desired_zip %></td>
        <td><%= driver.driver_id_tag %></td>
        <td><%= driver.driver_phone %></td>
        <td><%= driver.driver_truck_type %></td>
        <% if driver.active == true%>
        <td class="success"><%= humanize_boolean(driver.active?)%></td>
        <% else %>
        <td class="danger"><%= humanize_boolean(driver.active?) %></td>

        <%end %>
        <td><%= driver.driver_status %></td>
        <td><%= driver.driver_contract_number %></td>
        <td><%= driver.driver_availability %></td>
        <td><%= driver.driver_company %></td>
        <td><%= driver.comments %></td>

      </tr>
    <% end %>
  </tbody>
</table>
